/.vscode

/Scripts
/include
/lib

/src/db.sqlite3
/src/media/MarketWatch.csv
/src/products
/src/templates/products
/src/Dashboard/__pycache__
/src/pages/__pycache__
/src/pages/migrations
/.gitignore
/pyvenv.cfg